extends ../layout

block vars
   - var title = 'Log In'

block content
   br
   .col-md-4
      .panel.panel-default
         .panel-heading
            h4.panel-title Log into your account
         form.panel-body(method='post')
            div.form-group
               label(for='username-input') Username
               input.form-control(type='text' id='username-input' name='username' placeholder='Username' required=true)
            div.form-group
               label(for='password-input') Password
               input.form-control(type='password' id='password-input' name='password' placeholder='Password' required=true)
            input.btn.btn-default(type='submit' value='Log in')
