block vars
doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
      title #{title} — CHIRP
      // Bootstrap: Latest compiled and minified CSS
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
      // Bootstrap: Optional theme
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
      // FontAwesome
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==", crossorigin="anonymous")
      // fonts
      <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,300' rel='stylesheet' type='text/css'>
      // theme
      link(rel='stylesheet' href='/css/themes/default.css')
      // main.css
      link(rel='stylesheet' href='/css/main.css')
      
   body
      nav.navbar.navbar-default.navbar-fixed-top
         .container
            .navbar-header
               button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
               a.navbar-brand(href='/')
                  i.fa.fa-cubes.fa-lg
                  | chirp
            .collapse.navbar-collapse#navbar-collapse-1
               ul.nav.navbar-nav
                  li(class=title=='Home'? 'active' : undefined)
                     a(href='/') Home
               ul.nav.navbar-nav.navbar-right
                  if !user
                     li(class= title=='Log In' ? 'active' : undefined)
                        a(href='/auth/login') Log In
                     li(class= title=='Sign Up' ? 'active' : undefined)
                        a(href='/auth/signup') Sign Up
                  else
                     li
                        a(href='/auth/logout') Log Out

      .container
         block content

      footer
         .container.text-center
            //p.pull-left © 2016 Company, Inc. All Rights Reserved
            ul.pull-right.list-inline
               li
                  a(href='https://github.com/guillevc/chirp') GitHub Project
               //
                  li
                     a(href='https://github.com/sahat/hackathon-starter/issues') Issues

      script(src='https://code.jquery.com/jquery-2.2.0.min.js')
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==", crossorigin="anonymous")
      script(src='js/main.js')
