extends layout

block vars
   - var title = userprofile.username;

block content
   .row
      .col-md-3
      .col-md-7
         h1 #{userprofile.username}'s posts
         hr
         include partials/postfeed
