.post-list {
  padding: 0;
  list-style: none;
}

.post-list li {
  background-color: #f5f8fa;
  padding: 10px;
  margin-top: 0;
	margin-bottom: 5px;
	border-radius: 5px;
}

.newpost-well {
  margin-bottom: 5px;
}
